<div class="container">
  <div class="row">
    <div class="col-12">
		
      <div class="form-group">
        <label>Name:</label>
        <input type="text" class="form-control" placeholder="name" [(ngModel)]="templateName">
      </div>

      <label>Contant:</label>
      <ckeditor [(ngModel)]="content" #myckeditor [config]="ckeConfig" (change)="onChange($event)">
      </ckeditor>
      <button (click)="saveTemplate()" class="btn btn-success mt-3 btn-lg">Save</button>

      <div [innerHTML]="roro"></div>

    </div>
  </div>
</div>
